.splitting .word {
    text-indent: 0;
  }
  @font-face {
    font-family: "Evafiya";
    src: local("Evafiya"),
    url(/portfolio/fonts/Evafiya/Evafiya.ttf)
        format("opentype")
}
  /* @font-face {
    font-family: PP Neue Montreal;
    src: local("PP Neue Montreal"),
      url(/portfolio/fonts/PP-Neue-Montreal/ppneuemontreal-medium.woff) format("woff")
}
  @font-face {
    font-family: PP Neue Montreal Mono;
    src: local("PP Neue Montreal Mono"),
      url(/portfolio/fonts/PP-Neue-Montreal-Mono/pp-neue-montreal-mono-3.otf)
        format("opentype"),
      url(/portfolio/fonts/PP-Neue-Montreal-Mono/pp-neue-montreal-mono-3.ttf)
        format("TrueType"),
      url(/portfolio/fonts/PP-Neue-Montreal-Mono/pp-neue-montreal-mono-3.woff)
        format("woff"),
      url(/portfolio/fonts/PP-Neue-Montreal-Mono/pp-neue-montreal-mono-3.woff2)
        format("woff2");
  } */
  @font-face {
    font-family: 'Garet';
    src: url('/portfolio/fonts/Garet/Garet-Book.woff2') format('woff2'),
         url('/portfolio/fonts/Garet/Garet-Book.woff') format('woff'),
         url('/portfolio/fonts/Garet/Garet-Book.ttf') format('truetype'),
         url('/portfolio/fonts/Garet/Garet-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  @keyframes glitchText {
    0% {
      opacity: 1;
      transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
      -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
      clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    10% {
      -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
      clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    20% {
      -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
      clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    35% {
      -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
      clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    50% {
      -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
      clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    60% {
      -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    70% {
      -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
      clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    80% {
      -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
      clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    90% {
      transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    }
    to {
      opacity: 1;
      transform: translateZ(0) scaleZ(1);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  @keyframes glitchLine {
    0% {
      transform: scaleZ(1);
    }
    10% {
      transform: translate3d(10px, 0, 0);
    }
    20% {
      transform: translate3d(0, 4px, 0);
    }
    30% {
      transform: scale3d(0.1, 1.4, 1) translate3d(0, -25px, 0);
      transform-origin: 100% 0%;
    }
    40% {
      transform: scale3d(1, 0.3, 1) translate3d(0, 25px, 0);
    }
    50% {
      transform: scale3d(0.5, 0.3, 1) translate3d(-100px, -80px, 0);
    }
    60% {
      transform: scale3d(1, 1.25, 1) translate3d(10px, -5px, 0);
    }
    70% {
      transform: scale3d(0.5, 0.5, 1) translate3d(0, 20px, 0);
    }
    80% {
      transform: translate3d(-30, 10px, 0) scale3d(1, 0.4, 1);
      transform-origin: 100% 0%;
    }
    90% {
      transform: scale3d(1, 0.5, 1) translate3d(0, -15px, 0);
      transform-origin: 0% 50%;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  :root {
    font-family: Garet, sans-serif;
    line-height: 1.5;
    font-size: 0.8125rem;
    color: #6b6b6c;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @media screen and (min-width: 768px) {
    :root {
      font-size: 0.875rem;
    }
  }
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    min-height: 100vh;
    background: #222;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    transition: background 0.3s ease;
  }
  main {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    padding: 0 18px;
  }
  @media screen and (min-width: 768px) {
    main {
      padding: 0 45px;
    }
  }
  @media screen and (min-width: 1024px) {
    main {
      max-width: 1560px;
    }
  }
  }
  [data-barba="container"] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  [data-title-animation] {
    white-space: nowrap;
  }
  a {
    color: #919191;
    text-decoration: inherit;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    width: fit-content;
  }
  a:hover > span:not(.word) {
    animation: glitchText 0.4s linear;
  }
  @media (hover: hover) and (pointer: fine) {
    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 100%;
      left: 0;
      pointer-events: none;
      opacity: 0;
    }
    a:hover:before {
      opacity: 1;
      animation: glitchLine 0.4s steps(2, start) forwards;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    font-weight: 400;
    margin: 0;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  hr {
    display: block;
    color: transparent;
    background: #4a4a4a;
    border: none;
    height: 1px;
    width: 100%;
    position: relative;
    overflow: visible;
  }
  hr:before,
  hr:after {
    content: "";
    background: url('data:image/svg+xml,<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 4.5L0.25 8.39711L0.25 0.602885L7 4.5Z" fill="%234A4A4A"/></svg>');
    position: absolute;
    translate: 0 -50%;
    top: 50%;
    width: 8px;
    height: 8px;
  }
  hr:before {
    left: 0;
    top: calc(50% - 1px);
  }
  hr:after {
    rotate: 180deg;
    right: 0;
  }
  img {
    object-fit: cover;
    display: block;
  }
  p {
    margin: 0;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #4a4a4a #1b1b1b;
  }
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: #1b1b1b;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 50px;
    border: 3px solid #1b1b1b;
  }
  .serif {
    font-family: Evafiya;
  }
  .sans {
    font-family: Garet;
  }
  .mono {
    font-family: Garet;
    color: #919191;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .h1 {
    font-size: 2.3rem;
  }
  @media screen and (min-width: 370px) {
    .h1 {
      font-size: 2.5rem;
    }
  }
  @media screen and (min-width: 402px) {
    .h1 {
      font-size: 2.9230769231rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .h1 {
      font-size: 4.57142857rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .h1 {
      font-size: 6.142857rem;
    }
  }
  .h2 {
    font-size: 2.9230769231rem;
  }
  @media screen and (min-width: 1024px) {
    .h2 {
      font-size: 4.3571428571rem;
    }
  }
  .h3 {
    font-size: 1.6923076923rem;
  }
  @media screen and (min-width: 1024px) {
    .h3 {
      font-size: 2.125rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .h4 {
      font-size: 1.125rem;
    }
  }
  .text-sm {
    font-size: 0.7692307692rem;
  }
  @media screen and (min-width: 768px) {
    .text-sm {
      font-size: 0.6875rem;
    }
  }
  .text-lg {
    font-size: 1.2307692308rem;
  }
  .text-white {
    color: #fff;
  }
  .text-grey-3 {
    color: #919191;
  }
  .align-left {
    text-align: left;
  }
  .align-center {
    text-align: center;
  }
  .align-right {
    text-align: right;
  }
  .align-justify {
    text-align: justify;
  }
  .text-indent {
    text-indent: 50px;
  }
  .flex {
    display: flex;
  }
  .justify-between {
    justify-content: space-between;
  }
  .block {
    display: block;
  }
  .max-w-sm {
    width: 71.1627906977vw;
    max-width: 306px;
    margin: 0 auto;
  }
  .max-w-lg {
    max-width: 1290px;
    margin: 0 auto;
  }
  .max-h-screen {
    height: 100vh;
    overflow: hidden;
  }
  .my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body {
    --button-border-radius: 40px;
    --button-bg: transparent;
    --button-stroke: #000;
    --button-stroke-width: 1px;
    --button-text: #000;
    --button-bg-hover: #d8d4cf;
    --button-stroke-hover: #000;
    --button-stroke-width-hover: 1px;
    --button-text-hover: #fff;
    --cursor-stroke: #fff;
    --cursor-fill: #fff;
    --cursor-stroke-width: 1px;
    --button-filler: #000;
    --color-bg: #ccc;
  }
  .button {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 30px;
    border: 1px solid #6b6b6c;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .button:before {
    display: none;
  }
  .button:focus,
  .button:hover {
    background: #fff;
    color: #000;
  }
  .button:focus,
  .button--hover {
    outline: none;
    border-width: var(--button-stroke-width-hover);
    border-color: var(--button-stroke-hover);
    color: var(--button-text-hover);
  }
  .button__filler {
    background: var(--button-filler);
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    transform: translate3d(0, 75%, 0);
  }
  .button__text,
  .button__text-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .button .whitespace {
    width: 5px;
  }
  .badge {
    color: var(--White, #fff);
    text-align: right;
    font-family: Garet;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 0;
    right: 0;
    translate: 8px -75%;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    .list {
      margin-bottom: 30px;
    }
  }
  .list:has(.list__el__wrapper:hover)
    .list__el__wrapper:not(.list__el__wrapper:hover) {
    opacity: 0.5;
  }
  .list__el {
    opacity: 0;
    position: relative;
  }
  .list__el__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 70px 1fr 30px;
    row-gap: 15px;
    padding: 15px 0 28px;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  @media screen and (min-width: 1024px) {
    .list__el__wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      row-gap: 0;
      padding: 10px 0 26px;
    }
  }
  @media screen and (min-width: 1024px) and (min-height: 990px) {
    .list__el__wrapper {
      padding: 2.222222222vh 0 3.703703704vh;
    }
  }
  .list__el__arrow {
    font-size: 1.6923076923rem;
    font-size: 2.6153846154rem;
    line-height: 1;
    font-family: Evafiya;
    color: #fff;
    grid-area: 2/3/3/4;
    justify-self: end;
    align-self: center;
  }
  @media screen and (min-width: 1024px) {
    .list__el__arrow {
      font-size: 2.125rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .list__el__arrow {
      grid-area: 1/12/2/13;
    }
  }
  .list__el__title {
    order: 2;
    font-size: 1.8461538462rem;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 2/1/3/3;
  }
  .list__el__title > span {
    --triangle-opacity: 0;
    display: block;
  }
  .list__el__title > span:after {
    content: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0L7.4641 6H0.535898L4 0Z" fill="white"/></svg>');
    display: inline;
    margin-left: 8px;
    opacity: var(--triangle-opacity);
    position: absolute;
  }
  @media screen and (min-width: 1024px) {
    .list__el__title > span:after {
      margin-left: 18px;
    }
  }
  @media screen and (min-width: 430px) {
    .list__el__title {
      font-size: 2.2307692308rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .list__el__title {
      font-size: 3.428571rem;
      grid-area: 1/3/2/9;
    }
  }
  @media screen and (min-width: 1536px) {
    .list__el__title {
      font-size: 2.9230769231rem;
    }
  }
  @media screen and (min-width: 1536px) and (min-width: 1024px) {
    .list__el__title {
      font-size: 4.3571428571rem;
    }
  }
  .list__el__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -2000%;
    z-index: 90;
  }
  .list__el__link:before {
    content: none;
  }
  .list__el hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .list__el p {
    align-self: center;
  }
  @media screen and (min-width: 1024px) {
    .list__el p:not(.list__el__cats):not(.list__el__arrow) {
      grid-area: 1/2/2/3;
    }
  }
  .list__el__cats {
    grid-area: 1/2/2/4;
    text-align: right;
  }
  @media screen and (min-width: 1024px) {
    .list__el__cats {
      grid-area: 1/9/2/11;
    }
  }
  .list__el:hover *,
  .list__el:focus * {
    opacity: 1;
  }
  .list__el:first-child .list__el__wrapper {
    padding-top: 0;
  }
  .list__el:last-child hr {
    display: none;
  }
  .header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    max-width: 1580px;
    padding: 20px 18px 0;
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease;
    background-color: #222;
  }
  @media screen and (min-width: 768px) {
    .header {
      padding: 20px 45px 0;
    }
  }
  @media screen and (min-width: 1024px) {
    .header {
      padding: 33px 90px;
      max-width: 1560px;
    }
  }
  @media screen and (min-width: 1536px) {
    .header {
      padding: 33px 20px;
    }
  }
  .header__baseline {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    .header__baseline {
      display: flex;
      gap: 5px;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 90px;
      translate: 0 -50%;
      scale: 1.2;
      transform-origin: left;
    }
    .header__baseline svg {
      margin-left: 2px;
    }
  }
  @media screen and (min-width: 1536px) {
    .header__baseline {
      left: 0;
    }
  }
  .header__logo {
    position: absolute;
    top: 20px;
    left: 50%;
    translate: -50% 0;
    transition: all 0.3s ease;
  }
  .header__logo:before {
    display: none;
  }
  .header__logo svg {
    fill: #fff;
  }
  @media screen and (min-width: 1024px) {
    .header__logo {
      top: 50%;
      translate: -50% -50%;
    }
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__nav__list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
  @media screen and (min-width: 1024px) {
    .header__nav__list {
      flex-direction: row;
      gap: 40px;
      margin-top: 0;
      align-items: center;
    }
  }
  @media screen and (min-width: 1280px) {
    .header__nav__list {
      gap: 90px;
    }
  }
  .header__nav__el a {
    color: #fff;
    margin-right: 12px;
  }
  .header__nav__el .button {
    border: 0;
    padding: 0;
  }
  .header__nav__el .button:hover {
    background: transparent;
    color: #fff;
  }
  @media screen and (min-width: 1024px) {
    .header__nav__el a {
      margin: 0;
    }
    .header__nav__el .button {
      cursor: pointer;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 30px;
      border: 1px solid #6b6b6c;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .header__nav__el .button:before {
      display: none;
    }
    .header__nav__el .button:focus,
    .header__nav__el .button:hover {
      background: #fff;
      color: #000;
    }
    .header__nav__el .button:focus,
    .header__nav__el .button--hover {
      outline: none;
      border-width: var(--button-stroke-width-hover);
      border-color: var(--button-stroke-hover);
      color: var(--button-text-hover);
    }
    .header__nav__el .button__filler {
      background: var(--button-filler);
      position: absolute;
      width: 150%;
      height: 200%;
      border-radius: 50%;
      top: -50%;
      left: -25%;
      transform: translate3d(0, 75%, 0);
    }
    .header__nav__el .button__text,
    .header__nav__el .button__text-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    .header__nav__el .button .whitespace {
      width: 5px;
    }
    .header__nav__el:first-child {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1024px) and (min-width: 1024px) {
    .header__nav__el:first-child {
      margin-right: 10px;
    }
  }
  .header--hidden {
    translate: -50% -100%;
  }
  .section {
    max-width: 1560px;
    margin: 0 auto;
  }
  .award {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .award > span:nth-child(1) {
    color: #fff;
    width: 100%;
    margin-bottom: 5px;
  }
  @media screen and (min-width: 428px) {
    .award > span:nth-child(1) {
      width: auto;
      margin-bottom: 0;
      grid-area: 1/1/2/3;
    }
  }
  @media screen and (min-width: 1024px) {
    .award > span:nth-child(1) {
      grid-area: 1/1/2/5;
    }
  }
  .award > span:nth-child(2) {
    color: #919191;
  }
  @media screen and (min-width: 428px) {
    .award > span:nth-child(2) {
      grid-area: 1/3/2/5;
    }
  }
  @media screen and (min-width: 1024px) {
    .award > span:nth-child(2) {
      grid-area: 1/5/2/7;
    }
  }
  @media screen and (min-width: 428px) {
    .award > span:nth-child(3) {
      text-align: right;
      grid-area: 1/4/2/5;
    }
  }
  @media screen and (min-width: 1024px) {
    .award > span:nth-child(3) {
      grid-area: 1/7/2/8;
    }
  }
  @media screen and (min-width: 428px) {
    .award {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: subgrid;
    }
  }
  .footer {
    margin: 20px 18px 50px;
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    padding: 40px 40px 30px;
    width: calc(100% - 36px);
    position: relative;
    z-index: 5;
  }
  @media screen and (min-width: 768px) {
    .footer {
      margin: 20px auto 50px;
      max-width: calc(100vw - 90px);
    }
  }
  @media screen and (min-width: 1024px) {
    .footer {
      display: flex;
      flex-wrap: wrap;
      row-gap: 90px;
      width: calc(100vw - 90px);
      max-width: 1560px;
    }
  }
  @media screen and (min-width: 1280px) {
    .footer {
      padding: 86px 132px 40px;
    }
  }
  @media screen and (min-width: 1536px) {
    .footer {
      margin: 20px auto 50px;
      width: 100%;
    }
  }
  @media screen and (min-width: 1024px) {
    .footer__content {
      width: 50%;
    }
  }
  .footer__title {
    --triangle-opacity: 0;
    font-size: 2.4615384615rem;
    line-height: 1.1;
    margin-bottom: 20px;
    max-width: 290px;
  }
  .footer__title:after {
    content: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0L7.4641 6H0.535898L4 0Z" fill="white"/></svg>');
    display: inline;
    opacity: var(--triangle-opacity);
  }
  @media screen and (min-width: 430px) {
    .footer__title {
      font-size: 3.3076923077rem;
      max-width: 400px;
    }
  }
  @media screen and (min-width: 1024px) {
    .footer__title {
      font-size: 3.7857142857rem;
      margin-bottom: 34px;
      line-height: 1.0377358491;
    }
  }
  .footer__mail {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1024px) {
    .footer__mail {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      align-self: end;
      margin-bottom: 0;
    }
  }
  .footer__cta {
    margin: 50px 0 10px;
    display: block;
    font-size: 1.5384615385rem;
  }
  .footer__cta > span {
    margin-right: 7px;
  }
  @media screen and (min-width: 430px) {
    .footer__cta {
      margin-bottom: 30px;
      font-size: 2rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .footer__cta {
      font-size: 1.6923076923rem;
    }
  }
  @media screen and (min-width: 1024px) and (min-width: 1024px) {
    .footer__cta {
      font-size: 2.125rem;
    }
  }
  .footer__time {
    display: flex;
    gap: 13px;
    align-items: center;
    line-height: 1;
  }
  @media screen and (min-width: 1280px) {
    .footer__socials {
      order: 2;
      margin-bottom: 0;
      max-width: 436px;
    }
    .footer__socials a {
      font-size: inherit;
    }
  }
  .footer__credits {
    border-top: 1px solid #4a4a4a;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .footer__credits ul {
    width: 10vw;
    display: flex;
    justify-content: space-between;

  }
  @media screen and (min-width: 1024px) {
    .footer__credits {
      width: 100%;
    }
  }
  @media screen and (min-width: 1280px) {
    .footer__credits {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      height: 70px;
    }
  }
  @media screen and (min-width: 1280px) {
    .footer__credits p {
      order: 3;
      right: 0;
    }
  }
  .footer__logo {
    transition: all 0.3s ease;
  }
  .footer__logo:before {
    content: none;
  }
  @media screen and (min-width: 1280px) {
    .footer__logo {
      position: absolute;
      left: 0;
    }
  }
  .footer--secondary {
    margin: auto auto 0;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding: 19px 41px 8px;
  }
  @media screen and (min-width: 1024px) {
    .footer--secondary {
      padding: 0;
      height: 5.5vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      row-gap: 0;
      height: 48.8833px;
    }
  }
  .footer--secondary .footer__credits {
    border-top: 0;
    padding: 0;
    height: auto;
    align-items: center;
  }
  @media screen and (min-width: 1024px) {
    .footer--secondary .footer__credits {
      display: grid;
      grid-column: 1/-1;
      grid-template-columns: subgrid;
    }
  }
  .footer--secondary .footer__credits > p {
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    .footer--secondary .footer__credits > p {
      text-align: right;
      grid-area: 1/9/2/-2;
    }
  }
  .footer--secondary .footer__socials {
    margin: 0 auto 18px;
    max-width: 436px;
  }
  .footer--secondary .footer__socials a {
    font-size: 1.07692308rem;
  }
  @media screen and (min-width: 1024px) {
    .footer--secondary .footer__socials {
      margin: 0;
      grid-area: 1/2/2/6;
    }
  }
  .time span:nth-of-type(2) {
    animation: blink 2s steps(2, start) infinite;
    margin: 0 -1px;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  .thumbgrid {
    grid-area: 1/-1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
  }
  .thumbgrid__wrap {
    position: fixed;
    z-index: 50;
    display: grid;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .thumbgrid__item {
    opacity: 0;
    grid-area: var(--grid-row) / var(--grid-column);
    aspect-ratio: 4/3;
    width: 18vw;
  }
  .thumbgrid--current .thumbgrid__item {
    opacity: 1;
  }
  .pos-1 {
    --grid-row: 10;
    --grid-column: 1;
  }
  .pos-2 {
    --grid-row: 30;
    --grid-column: 50;
  }
  .pos-3 {
    --grid-row: 55;
    --grid-column: 75;
  }
  .pos-4 {
    --grid-row: 70;
    --grid-column: 5;
  }
  .pos-5 {
    --grid-row: 5;
    --grid-column: 75;
  }
  .pos-6 {
    --grid-row: 34;
    --grid-column: 3;
  }
  .pos-7 {
    --grid-row: 10;
    --grid-column: 47;
  }
  .pos-8 {
    --grid-row: 67;
    --grid-column: 17;
  }
  .pos-9 {
    --grid-row: 36;
    --grid-column: 11;
  }
  .pos-10 {
    --grid-row: 12;
    --grid-column: 70;
  }
  .pos-11 {
    --grid-row: 46;
    --grid-column: 75;
  }
  .pos-12 {
    --grid-row: 75;
    --grid-column: 16;
  }
  .pos-13 {
    --grid-row: 25;
    --grid-column: 1;
  }
  .pos-14 {
    --grid-row: 60;
    --grid-column: 60;
  }
  .pos-15 {
    --grid-row: 15;
    --grid-column: 75;
  }
  .pos-16 {
    --grid-row: 53;
    --grid-column: 6;
  }
  .pos-17 {
    --grid-row: 70;
    --grid-column: 5;
  }
  .pos-18 {
    --grid-row: 70;
    --grid-column: 50;
  }
  .pos-19 {
    --grid-row: 10;
    --grid-column: 20;
  }
  .pos-20 {
    --grid-row: 35;
    --grid-column: 70;
  }
  .pos-21 {
    --grid-row: 55;
    --grid-column: 75;
  }
  .pos-22 {
    --grid-row: 75;
    --grid-column: 50;
  }
  .pos-23 {
    --grid-row: 10;
    --grid-column: 70;
  }
  .pos-24 {
    --grid-row: 20;
    --grid-column: 5;
  }
  .pos-25 {
    --grid-row: 45;
    --grid-column: 60;
  }
  .pos-26 {
    --grid-row: 70;
    --grid-column: 1;
  }
  .pos-27 {
    --grid-row: 70;
    --grid-column: 85;
  }
  .pos-28 {
    --grid-row: 5;
    --grid-column: 19;
  }
  .pos-29 {
    --grid-row: 25;
    --grid-column: 75;
  }
  .pos-30 {
    --grid-row: 45;
    --grid-column: 10;
  }
  .pos-31 {
    --grid-row: 60;
    --grid-column: 55;
  }
  .pos-32 {
    --grid-row: 80;
    --grid-column: 25;
  }
  .pos-33 {
    --grid-row: 57;
    --grid-column: 62;
  }
  .pos-34 {
    --grid-row: 13;
    --grid-column: 10;
  }
  .pos-35 {
    --grid-row: 5;
    --grid-column: 55;
  }
  .pos-36 {
    --grid-row: 74;
    --grid-column: 3;
  }
  .thumbgrid__item-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    border-radius: 10px;
  }
  canvas.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
  [data-image] img {
    object-position: center;
    height: 100%;
    width: 100%;
  }
  [data-image][data-image-loaded] img {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    width: auto;
    height: auto;
  }
  .loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #161616;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: translate 3s ease 0.3s, opacity 0.3s ease 0.7s;
  }
  .loading p {
    text-transform: uppercase;
    font-size: 0.6875rem;
  }
  .loading__content {
    width: 57.73694391%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .loading__content p {
    color: #919191;
    font-size: 1rem;
  }
  .loading__logo {
    width: 30%;
    min-width: 50px;
    height: auto;
    opacity: 0;
  }
  .transition {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5000000;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: center top;
    translate: 0 100%;
  }
  .transition--animated {
    animation: transition 1.6s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .transition--animated-enter {
    animation: transition 1.6s cubic-bezier(0.76, 0, 0.24, 1);
    animation-direction: reverse;
  }
  @keyframes transition {
    0% {
      translate: 0 100%;
      scale: 1;
    }
    to {
      translate: 0 0;
      scale: 1 0;
    }
  }
  html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
  html.is-animating .transition-fade {
    opacity: 0;
  }
  .intro {
    padding-top: 15.1576673866vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
    .intro p {
      width: 30%; /* Adjust this width as needed */
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
    }
@media (max-width: 768px) {
      .intro p {
        width: 100%; /* Stack vertically on smaller screens */
        text-align: center;
        margin-bottom: 10px; /* Space between stacked items */
      }
      .intro {
        flex-direction: column;
        align-items: center;
      }
    }
  
  .intro__text {
    line-height: 1.2307692308;
    max-width: 78.461538%;
    margin: 0 auto 95px;
  }
  .intro__text a {
    margin-right: 10px;
  }
  @media screen and (min-width: 1024px) {
    .intro__text {
      height: fit-content;
      max-width: none;
      width: 100%;
      line-height: 1.2142857143;
      margin: 0;
      grid-area: 1/9/2/12;
    }
  }
  .intro__title {
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .intro__title span {
    line-height: 1;
  }
  .intro__title > span:last-child {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .intro__title > span:last-child > span > span:first-child {
    visibility: hidden;
    display: flex;
    gap: 7px;
    white-space: break-spaces;
  }
  .intro__title > span:last-child > span > span:last-child {
    --triangle-opacity: 0;
    display: flex;
    gap: 7px;
    translate: 0 -2px;
    width: fit-content;
    position: absolute;
    top: 0;
  }
  .intro__title > span:last-child > span > span:before,
  .intro__title > span:last-child > span > span:after {
    content: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0L7.4641 6H0.535898L4 0Z" fill="white"/></svg>');
    display: block;
    opacity: var(--triangle-opacity);
  }
  @media screen and (min-width: 768px) {
    .intro__title {
      max-width: 450px;
    }
  }
  @media screen and (min-width: 1024px) {
    .intro__title {
      max-width: 675px;
      margin: 15vh 0 0;
      grid-area: 2/2/3/11;
    }
  }
  @media screen and (min-width: 1280px) {
    .intro__title {
      max-width: 900px;
    }
  }
  .intro__socials {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1024px) {
    .intro__socials {
      grid-area: 3/5/4/9;
    }
    .intro__socials a {
      font-size: inherit;
    }
  }
  .about {
    margin: clamp(90px, 9.375vw, 180px) 0 90px;
  }
  @media screen and (min-width: 1024px) {
    .about {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      grid-auto-rows: min-content;
    }
  }
  @media screen and (min-width: 1024px) {
    .about h2 {
      grid-area: 1/2/2/3;
    }
  }
  .about__text {
    margin: 50px auto;
    width: 100%;
    max-width: 78.461538%;
    line-height: 1.2307692308;
  }
  @media screen and (min-width: 1024px) {
    .about__text {
      margin: 0;
      grid-area: 1/9/2/12;
      max-width: none;
      line-height: 1.2142857143;
    }
  }
  .about__img {
    border-radius: 10px;
    width: 100%;
    max-width: 78.461538%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    aspect-ratio: 306/373;
  }
  .about__img img {
    object-position: top;
  }
  .about__img:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #4a4a4a;
    mix-blend-mode: hard-light;
    opacity: 0.5;
  }
  @media screen and (min-width: 1024px) {
    .about__img {
      max-width: none;
      grid-area: 1/5/2/8;
    }
  }
  .skills {
    margin: 90px 0 clamp(90px, 9.375vw, 180px);
  }
  @media screen and (min-width: 1024px) {
    .skills {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      grid-auto-rows: min-content;
      margin: 90px auto clamp(90px, 9.375vw, 180px);
    }
  }
  @media screen and (min-width: 1024px) {
    .skills h2 {
      grid-area: 1/2/2/3;
    }
  }
  .skills__content {
    margin: 50px auto;
    max-width: 78.461538%;
  }
  .skills__content > span:not(.word) {
    color: #fff;
  }
  @media screen and (min-width: 1024px) {
    .skills__content {
      margin: 0;
      max-width: unset;
      width: 100%;
      grid-area: 1/5/2/12;
    }
  }
  .awards {
    margin: clamp(90px, 9.375vw, 180px) 0;
  }
  @media screen and (min-width: 1024px) {
    .awards {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      grid-auto-rows: min-content;
      margin: clamp(90px, 9.375vw, 180px) auto;
    }
  }
  @media screen and (min-width: 1024px) {
    .awards h2 {
      grid-area: 1/2/2/3;
    }
  }
  .awards__list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @media screen and (min-width: 428px) {
    .awards__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    .awards__list li {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: subgrid;
    }
  }
  @media screen and (min-width: 1024px) {
    .awards__list {
      margin-top: 0;
      width: 100%;
      grid-area: 1/5/2/12;
      grid-template-columns: subgrid;
    }
  }
  .selected {
    margin: clamp(90px, 9.375vw, 180px) auto;
    max-width: 1560px;
  }
  @media screen and (min-width: 1024px) {
    .selected {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: min-content;
      grid-template-rows: minmax(97px, 8.981481481vh) minmax(173px, 16.01851852vh) minmax(
          579px,
          53.61111111vh
        ) minmax(79px, 7.314814815vh) minmax(150px, 13.88888889vh) minmax(
          85px,
          7.87037037vh
        ) minmax(491px, 45.46296296vh) minmax(150px, 13.88888889vh) minmax(
          96px,
          8.888888889vh
        ) minmax(150px, 13.88888889vh) minmax(374px, 34.62962963vh) minmax(
          333px,
          30.83333333vh
        );
      column-gap: 20px;
      row-gap: 0;
    }
  }
  .selected__title {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .selected__title > span:first-child {
    position: relative;
  }
  .selected__title > span:first-child > span:first-child {
    visibility: hidden;
  }
  .selected__title > span:first-child > span:last-child {
    position: absolute;
    left: 0;
    top: 0;
    width: fit-content;
    white-space: nowrap;
  }
  .selected__title > span:nth-child(2) {
    --triangle-opacity: 0;
    display: flex;
    gap: 7px;
    justify-content: flex-end;
  }
  .selected__title > span:nth-child(2):after {
    content: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0L7.4641 6H0.535898L4 0Z" fill="white"/></svg>');
    display: block;
    opacity: var(--triangle-opacity);
  }
  @media screen and (min-width: 1024px) {
    .selected__title {
      grid-area: 2/2/3/7;
      width: fit-content;
    }
  }
  .selected__list {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  @media screen and (min-width: 768px) {
    .selected__list {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 30px;
      row-gap: 70px;
    }
  }
  @media screen and (min-width: 1024px) {
    .selected__list {
      grid-area: 1/1/-1 / span 12;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      column-gap: 20px;
      row-gap: 0;
    }
  }
  .selected__el {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #4a4a4a;
    padding: 0 0 10px;
    position: relative;
    max-width: 100%;
  }
  @media screen and (min-width: 1024px) {
    .selected__el {
      padding: 0;
    }
    .selected__el:nth-child(1) {
      grid-area: 3/1/5/8;
    }
    .selected__el:nth-child(2) {
      grid-area: 1/9/4/13;
    }
    .selected__el:nth-child(3) {
      grid-area: 7/1/10/6;
    }
    .selected__el:nth-child(4) {
      grid-area: 6/7/8/13;
    }
    .selected__el:nth-child(5) {
      grid-area: 11/1/13/8;
    }
    .selected__el:nth-child(6) {
      grid-area: 9/9/12/13;
    }
  }
  .selected__el__title {
    font-size: 2.2307692308rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .selected__el__title > span {
    transition: all 0.3s ease;
  }
  .selected__el__title > span:nth-child(2) {
    font-size: 1.6923076923rem;
    font-size: 2.6153846154rem;
    font-family: Evafiya;
  }
  @media screen and (min-width: 1024px) {
    .selected__el__title > span:nth-child(2) {
      font-size: 2.125rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .selected__el__title {
      margin-top: 0;
      height: 70px;
      align-items: flex-end;
      padding-bottom: 15px;
    }
  }
  .selected__el__img {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
  }
  .selected__el__img:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #4a4a4a;
    mix-blend-mode: hard-light;
    opacity: 0.5;
  }
  @media screen and (min-width: 1024px) {
    .selected__el__img {
      height: 100%;
    }
  }
  .selected__el__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .selected__el__data {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .selected__el__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -2000%;
    z-index: 100;
  }
  .selected__el__link:before {
    display: none;
  }
  .selected__el canvas {
    z-index: 200;
    position: relative;
  }
  .works {
    padding-top: 184px;
  }
  @media screen and (min-width: 1024px) {
    .works {
      padding-top: 14.25925926vh;
    }
  }
  .works h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .work-details {
    padding-top: 110px;
    padding-bottom: 33px;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* column-gap: 20px; */
    flex: 1;
  }
  .work-details + .footer--secondary {
    margin-top: 0;
  }
  .work-details__body {
    grid-area: 3/1/4/13;
    z-index: 20;
  }
  .work-details__body h1 {
    --triangle-opacity: 0;
    font-size: 1rem;
    margin-bottom: 16px;
    margin-right: 36px;
  }
  .work-details__body h1:after {
    content: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0L7.4641 6H0.535898L4 0Z" fill="white"/></svg>');
    display: inline;
    margin-left: 8px;
    position: absolute;
    opacity: var(--triangle-opacity);
  }
  @media screen and (min-width: 1024px) {
    .work-details__body h1:after {
      margin-left: 18px;
    }
  }
  @media screen and (min-width: 1024px) {
    .work-details__body h1 {
      font-size: 1.72857143rem;
      grid-column: 1/7;
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1280px) {
    .work-details__body h1 {
      font-size: 2.8571428571rem;
    }
  }
  .work-details__body p {
    line-height: 1.2307692308;
    max-width: 480px;
    width: 100%;
    margin: 0 auto 24px;
  }
  @media screen and (min-width: 1024px) {
    .work-details__body p {
      grid-column: 7/10;
      margin-bottom: 0;
      max-width: 350px;
      line-height: 1.2142857143;
    }
  }
  @media screen and (min-width: 1280px) {
    .work-details__body p {
      max-width: 480px;
    }
  }
  @media screen and (min-width: 1536px) {
    .work-details__body p {
      grid-column: 7/10;
    }
  }
  .work-details__body a {
    text-align: right;
    width: 100%;
    font-size: 1.0769230769rem;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    width: fit-content;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    .work-details__body a {
      font-size: 1rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .work-details__body a {
      grid-column: 10/11;
    }
  }
  @media screen and (min-width: 768px) {
    .work-details__body {
      margin-bottom: 3.240740741vh;
    }
  }
  @media screen and (min-width: 1024px) {
    .work-details__body {
      display: grid;
      /* grid-column: 2/-2;
      grid-template-columns: subgrid; */
      align-items: center;
    }
  }
  @media screen and (min-width: 2000px) {
    .work-details__body {
      margin-bottom: 5vh;
    }
  }
  .work-details hr {
    grid-area: 4/1/5/-1;
  }
  .work-details__header {
    grid-area: 1/2/3/12;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .work-details__header p {
    font-size: 0.76923077rem;
    line-height: 1;
  }
  .work-details__header p:nth-child(1) {
    margin-bottom: 5px;
  }
  @media screen and (min-width: 428px) {
    .work-details__header p:nth-child(1) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1024px) {
    .work-details__header p:nth-child(1) {
      grid-column: 1/3;
    }
  }
  .work-details__header p:nth-child(2) {
    text-align: right;
  }
  @media screen and (min-width: 1024px) {
    .work-details__header p:nth-child(2) {
      grid-column: -6/-1;
    }
  }
  @media screen and (min-width: 428px) {
    .work-details__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 768px) {
    .work-details__header {
      margin-bottom: 5.740740741vh;
    }
  }
  @media screen and (min-width: 1024px) {
    .work-details__header {
      display: grid;
      /* grid-column: 2/-2; */
      grid-template-columns: subgrid;
    }
  }
  @media screen and (min-width: 1280px) {
    .work-details__header {
      margin-bottom: 5.740740741vh;
    }
  }
  .work-details__footer {
    grid-area: 6/1/6/-1;
    margin-top: 33px;
  }
  .work-details__footer > a {
    font-size: 1.0769230769rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  @media screen and (min-width: 1024px) {
    .work-details__footer > a {
      grid-column: -3/-2;
      justify-self: flex-end;
      width: fit-content;
      font-size: 1rem;
      margin: 10px 0;
    }
  }
  @media screen and (min-width: 768px) {
    .work-details__footer {
      margin-top: 6.944444444vh;
    }
  }
  @media screen and (min-width: 1024px) {
    .work-details__footer {
      margin-top: 0;
      display: grid;
      grid-column: 1/-1;
      grid-template-columns: subgrid;
      align-items: center;
      height: 100%;
      align-self: stretch;
    }
  }
  .work-details__nav {
    --lines-opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    margin-bottom: 33px;
  }
  .work-details__nav > a,
  .work-details__nav > span {
    font-size: 0.8461538462rem;
    display: inline-block;
  }
  @media screen and (min-width: 1024px) {
    .work-details__nav > a,
    .work-details__nav > span {
      font-size: 0.7857142857rem;
    }
  }
  .work-details__nav__prev {
    order: 1;
  }
  .work-details__nav__next {
    order: 5;
  }
  .work-details__nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 34px;
    row-gap: 25px;
    order: 3;
    margin: 0 18px;
  }
  .work-details__nav ul li {
    height: 14px;
  }
  .work-details__nav ul li a,
  .work-details__nav ul li span {
    white-space: nowrap;
    font-size: 0.8461538462rem;
    line-height: 1;
  }
  @media screen and (min-width: 1024px) {
    .work-details__nav ul li a,
    .work-details__nav ul li span {
      font-size: 0.7857142857rem;
    }
  }
  @media screen and (min-width: 768px) {
    .work-details__nav ul li {
      height: auto;
    }
  }
  @media screen and (min-width: 768px) {
    .work-details__nav ul {
      display: flex;
    }
  }
  .work-details__nav:before,
  .work-details__nav:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #4a4a4a;
    opacity: var(--lines-opacity);
  }
  .work-details__nav:before {
    order: 2;
  }
  .work-details__nav:after {
    order: 4;
  }
  @media screen and (min-width: 1024px) {
    .work-details__nav {
      grid-column: 3/9;
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    .work-details {
      padding-bottom: 6.944444444vh;
    }
  }
  @media screen and (min-width: 1024px) {
    .work-details {
      padding-bottom: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      grid-auto-rows: min-content;
      height: calc(100vh - 48.8833px);
      grid-auto-rows: auto;
      grid-template-rows: repeat(4, min-content);
    }
  }
  @media screen and (max-height: 600px) and (min-width: 768px) {
    .work-details--big-title .work-details__body {
      margin-bottom: 10px;
    }
    .work-details--big-title .work-details__body h1 {
      font-size: 3rem;
    }
    .work-details--big-title .work-details__body .work-details__description {
      font-size: 0.95rem;
    }
    .work-details--big-title .work-details-gallery,
    .work-details--big-title .work-details__header {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-height: 805px) and (min-width: 768px) {
    .work-details--big-title .work-details__body h1 {
      font-size: 3rem;
    }
    .work-details--big-title .work-details__body .work-details__description {
      font-size: 0.95rem;
    }
  }
  body {
    overscroll-behavior-y: none;
  }
  [data-barba-namespace="design-lab"] {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
  }
  .lab {
    height: 100vh;
    overflow: hidden;
    max-width: none;
  }
  @media screen and (min-width: 1024px) {
    .lab {
      padding: 0;
    }
  }
  .lab__content {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  @media screen and (min-width: 1024px) {
    .lab__content {
      top: 40.55555556vh;
      left: 16.25vw;
      translate: 0;
    }
  }
  .lab__title {
    display: flex;
    justify-content: center;
    gap: 19px;
    margin-bottom: 18px;
    --triangle-opacity: 0;
  }
  .lab__title > span:nth-child(2) {
    display: flex;
    gap: 7px;
    justify-content: flex-end;
  }
  .lab__title > span:nth-child(2):after {
    content: url('data:image/svg+xml,<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0L7.4641 6H0.535898L4 0Z" fill="white"/></svg>');
    display: block;
    opacity: var(--triangle-opacity);
  }
  @media screen and (min-width: 1024px) {
    .lab__title > span:nth-child(2) {
      justify-content: flex-start;
    }
  }
  .lab__text {
    line-height: 1.2307692308;
    margin: 0;
  }
  @media screen and (min-width: 1024px) {
    .lab__text {
      translate: 15% 0;
      max-width: 375px;
      line-height: 1.2142857143;
      translate: 56.33621798% 0;
    }
  }
  .lab__gallery {
    position: relative;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px 0;
  }
  @media screen and (min-width: 768px) {
    .lab__gallery {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 1024px) {
    .lab__gallery {
      display: block;
      gap: 0;
      padding: 0;
      height: 235.74074074vh;
    }
  }
  .lab__gallery__figure {
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    aspect-ratio: 4/3;
  }
  @media screen and (min-width: 768px) {
    .lab__gallery__figure {
      width: 40%;
    }
    .lab__gallery__figure:nth-child(2n) {
      translate: 0 -50%;
    }
  }
  @media screen and (min-width: 1024px) {
    .lab__gallery__figure {
      position: absolute;
    }
    .lab__gallery__figure:nth-child(1) {
      width: 19.53125vw;
      height: 14.6875vw;
      max-width: 978px;
      max-height: 736px;
      top: 6.759259259vh;
      left: 16.25vw;
      translate: 0;
    }
    .lab__gallery__figure:nth-child(2) {
      width: 12.70833333vw;
      height: 9.479166667vw;
      max-width: 637px;
      max-height: 475px;
      top: 10.18518519vh;
      left: 43.64583333vw;
    }
    .lab__gallery__figure:nth-child(3) {
      width: 26.40625vw;
      height: 19.79166667vw;
      max-width: 1322px;
      max-height: 991px;
      top: -5vh;
      right: 9.375vw;
    }
    .lab__gallery__figure:nth-child(4) {
      width: 19.53125vw;
      height: 14.6875vw;
      max-width: 978px;
      max-height: 736px;
      top: 37.96296296vh;
      right: 23.07291667vw;
    }
    .lab__gallery__figure:nth-child(5) {
      width: 26.40625vw;
      height: 19.79166667vw;
      max-width: 1322px;
      max-height: 991px;
      left: 0;
      top: 60.55555556vh;
    }
    .lab__gallery__figure:nth-child(6) {
      width: 19.53125vw;
      height: 14.6875vw;
      max-width: 978px;
      max-height: 736px;
      left: 32vw;
      top: 75.46296296vh;
    }
    .lab__gallery__figure:nth-child(7) {
      width: 12.70833333vw;
      height: 9.479166667vw;
      max-width: 637px;
      max-height: 475px;
      top: 75.46296296vh;
      right: 23.07291667vw;
    }
    .lab__gallery__figure:nth-child(8) {
      width: 19.53125vw;
      height: 14.6875vw;
      max-width: 978px;
      max-height: 736px;
      top: 59.35185185vh;
      right: 0;
      translate: 0;
    }
    .lab__gallery__figure:nth-child(9) {
      width: 19.53125vw;
      height: 14.6875vw;
      max-width: 978px;
      max-height: 736px;
      top: 109.074074074vh;
      left: 22.70833333vw;
    }
    .lab__gallery__figure:nth-child(10) {
      width: 26.40625vw;
      height: 19.79166667vw;
      max-width: 1322px;
      max-height: 991px;
      top: 125vh;
      left: 50.52083333vw;
    }
    .lab__gallery__figure:nth-child(11) {
      width: 12.70833333vw;
      height: 9.479166667vw;
      max-width: 637px;
      max-height: 475px;
      top: 103.703703704vh;
      right: 2.5vw;
    }
    .lab__gallery__figure:nth-child(12) {
      width: 12.70833333vw;
      height: 9.479166667vw;
      max-width: 637px;
      max-height: 475px;
      top: 150vh;
      left: 2.5vw;
    }
    .lab__gallery__figure:nth-child(13) {
      width: 26.40625vw;
      height: 19.79166667vw;
      max-width: 1322px;
      max-height: 991px;
      top: 174.81481481vh;
      left: 9.479166667vw;
    }
    .lab__gallery__figure:nth-child(14) {
      width: 19.53125vw;
      height: 14.6875vw;
      max-width: 978px;
      max-height: 736px;
      top: 173.05555556vh;
      left: 43.64583333vw;
    }
    .lab__gallery__figure:nth-child(15) {
      width: 19.53125vw;
      height: 14.6875vw;
      max-width: 978px;
      max-height: 736px;
      top: 166.2037037vh;
      right: 9.479166667vw;
    }
    .lab__gallery__figure:nth-child(16) {
      width: 12.70833333vw;
      height: 9.479166667vw;
      max-width: 637px;
      max-height: 475px;
      top: 213.88888889vh;
      left: 50.52083333vw;
    }
    .lab__gallery__figure:nth-child(17) {
      width: 12.70833333vw;
      height: 9.479166667vw;
      max-width: 637px;
      max-height: 475px;
      top: 199.16666667vh;
      right: 9.479166667vw;
    }
  }
  @media screen and (min-width: 1280px) {
    .lab__gallery__figure:nth-child(4) {
      top: 55vh;
    }
  }
  .lab__gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  canvas.lab__canvas {
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 1s ease;
    width: 100%;
    z-index: 1;
  }
  .loaded canvas.lab__canvas {
    opacity: 1;
  }
  .error-page {
    background: #f2c8cc;
    overflow: hidden;
  }
  .error-page .text-white,
  .error-page .mono {
    color: #1b1b1b;
  }
  .error-page .button {
    background: #1b1b1b;
    color: #fff;
  }
  .error-page .button:focus,
  .error-page .button:hover {
    background: transparent;
    color: #1b1b1b;
    border-color: #1b1b1b;
  }
  .error-page .header {
    mix-blend-mode: normal;
  }
  .error-page .header svg {
    fill: #1b1b1b;
  }
  .error-page .header__nav__el a:not(.button),
  .error-page .header__nav__el a .badge {
    color: #1b1b1b;
  }
  .error-page .header__nav__el .button {
    background: transparent;
    color: #1b1b1b;
  }
  @media screen and (min-width: 1024px) {
    .error-page .header__nav__el .button {
      background: #1b1b1b;
      color: #fff;
    }
    .error-page .header__nav__el .button:focus,
    .error-page .header__nav__el .button:hover {
      background: transparent;
      color: #1b1b1b;
      border-color: #1b1b1b;
    }
  }
  .error-page__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 82px);
    color: #1b1b1b;
    padding-top: 75px;
  }
  .error-page__main h1 {
    font-size: 12.5rem;
    line-height: 1;
  }
  @media screen and (min-width: 768px) {
    .error-page__main h1 {
      font-size: 25rem;
    }
  }
  @media (max-height: 840px) and (min-width: 600px) {
    .error-page__main h1 {
      font-size: 15rem;
    }
  }
  @media (min-height: 840px) and (min-width: 1024px) {
    .error-page__main h1 {
      font-size: 35rem;
    }
  }
  @media (min-height: 1100px) and (min-width: 1350px) {
    .error-page__main h1 {
      font-size: 50rem;
    }
  }
  .error-page__main p.mono {
    text-align: center;
    margin: 20px 0 10px;
    font-size: 0.75rem;
  }
  @media screen and (min-width: 768px) {
    .error-page__main p.mono {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
  }
  .error-page__main p.serif {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2.25rem;
  }
  @media screen and (min-width: 768px) {
    .error-page__main p.serif {
      font-size: 3.825rem;
    }
  }
  .splitting.cells img {
    width: 100%;
    display: block;
  }
  @supports (display: grid) {
    .splitting.cells {
      position: relative;
      overflow: hidden;
      background-size: cover;
      visibility: hidden;
    }
    .splitting .cell-grid {
      background: inherit;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template: repeat(var(--row-total), 1fr) / repeat(var(--col-total), 1fr);
    }
    .splitting .cell {
      background: inherit;
      position: relative;
      overflow: hidden;
    }
    .splitting .cell-inner {
      background: inherit;
      position: absolute;
      visibility: visible;
      width: calc(100% * var(--col-total));
      height: calc(100% * var(--row-total));
      left: calc(-100% * var(--col-index));
      top: calc(-100% * var(--row-index));
    }
    .splitting .cell {
      --center-x: calc((var(--col-total) - 1) / 2);
      --center-y: calc((var(--row-total) - 1) / 2);
      --offset-x: calc(var(--col-index) - var(--center-x));
      --offset-y: calc(var(--row-index) - var(--center-y));
      --distance-x: calc((var(--offset-x) * var(--offset-x)) / var(--center-x));
      --distance-y: calc((var(--offset-y) * var(--offset-y)) / var(--center-y));
    }
  }
  .splitting .word,
  .splitting .char {
    display: inline-block;
  }
  .splitting .char {
    position: relative;
  }
  .splitting .char:before,
  .splitting .char:after {
    content: attr(data-char);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: inherit;
    -webkit-user-select: none;
    user-select: none;
  }
  .splitting {
    --word-center: calc((var(--word-total) - 1) / 2);
    --char-center: calc((var(--char-total) - 1) / 2);
    --line-center: calc((var(--line-total) - 1) / 2);
  }
  .splitting .word {
    --word-percent: calc(var(--word-index) / var(--word-total));
    --line-percent: calc(var(--line-index) / var(--line-total));
  }
  .splitting .char {
    --char-percent: calc(var(--char-index) / var(--char-total));
    --char-offset: calc(var(--char-index) - var(--char-center));
    --distance: calc(
      (var(--char-offset) * var(--char-offset)) / var(--char-center)
    );
    --distance-sine: calc(var(--char-offset) / var(--char-center));
    --distance-percent: calc((var(--distance) / var(--char-center)));
  }
  
  /* Portfolio section */
.portfolio {
  display: flex;
  height: 50vh;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

/* For Chrome, Safari, and Edge */
.portfolio::-webkit-scrollbar {
  display: none;
}

/* Portfolio item styling */
.portfolio-item {
  width: calc(50% - 20px); /* Each image takes up 50% of the width with some margin */
  overflow: visible;
  padding: 0 10px;
  display: flex;
}

.portfolio-item img {
  width: 20vw;
  max-height: 42vh; /* Maintain aspect ratio, no cropping */
  border-radius: 10px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

/* Hover effect */
.portfolio-item:hover img {
  transform: scale(1.05);
}

.content-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 300vw;
}

.content {
  display: flex;
}

/* Responsive design */
@media (max-width: 768px) {
  .portfolio-item {
      width: calc(100% - 20px); /* Single column on small screens */
  }
}

/* Modal (hidden by default) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  justify-content: center;
  align-items: center;
}

/* Full-size image inside the modal */
.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
#garet-font {
  font-family: 'Garet', sans-serif;
}
